
<style>
    table{
        width:45em;
        table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
    }
    td {
        word-break: keep-all;
        white-space:nowrap;
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
        text-align: left;
    }

    th {
        text-align: left;
        word-break: keep-all;
        white-space:nowrap;
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;
    }
    table thead tr th:last-child{
        text-align: center;
    }

    table tr td:last-child{
        text-align: center;
    }


    @media screen and (max-width: 901px) {
        table thead tr th:nth-child(1) {
            display: none;
        }
        table thead tr th:nth-child(3) {
            display: none;
        }
        table thead tr th:nth-child(6) {
             display: none;
        }
        table thead tr th:nth-child(7) {
              display: none;
        }
        table tr td:nth-child(1) {
            display: none;
        }
        table tr td:nth-child(3) {
            display: none;
        }
        table tr td:nth-child(6) {
            display: none;
        }
        table tr td:nth-child(7) {
            display: none;
        }
    }

    /*table tr td:nth-child(2) {*/
        /**/
    /*}*/
</style>

<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Process</span>
        <h3 class="page-title">进程管理</h3>
    </div>
</div>
<!-- End Page Header -->
<!-- Default Light Table -->
<div class="row">
    <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <!--<h6 class="m-0">进程列表</h6>-->

                <div class="row">
                    <div class="col">
                        <h5 class="m-0">进程列表</h5>
                    </div>
                    <div>
                        排序根据：
                        <label>
                            <select id="sort-arg" class="custom-select custom-select-sm" >
                                <option selected value="common">默认</option>
                                <option value="sort-by-cpu">CPU</option>
                                <option value="sort-by-mem">内存</option>
                                <!--<option value="1">Today</option>-->
                            </select>
                        </label>
                        &nbsp;&nbsp;
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="card-body p-0 pb-3 text-center">
                <table id="processes-table" class="table mb-0">
                    <thead class="bg-light">
                    <tr>
                        <th scope="col" class="border-0" width="8%">Pid</th>
                        <th scope="col" class="border-0" width="30%">名称</th>
                        <th scope="col" class="border-0" width="8%">用户</th>
                        <!-- <th scope="col" class="border-0">状态</th> -->
                        <th scope="col" class="border-0" >CPU</th>
                        <th scope="col" class="border-0" >内存</th>
                        <!-- <th scope="col" class="border-0">固定内存</th> -->
                        <th scope="col" class="border-0">共享内存</th>
                        <th scope="col" class="border-0">开始时间</th>
                        <th scope="col" class="border-0">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr th:each="p : ${procList}">-->
                        <!--<td th:text="${p.pid}"></td>-->
                        <!-- <!- h:text="${#strings.substringBefore(#strings.append(p.name, '--'),'--')}"></td> -->
                        <!--<td><a th:title='${p.name}' th:href="@{/process/{pid}(pid=${p.pid})}" th:text="${p.name}"></a></td>-->
                        <!-- <!- h:text="${#strings.abbreviate(p.name, #strings.indexOf(p.name,'--'))}"></td> -->
                        <!--<td th:text="${p.user}"></td>-->
                        <!-- <td th:text="${p.state}"></td> -->
                        <!--<td th:text="${p.cpuUsage}"></td>-->
                        <!--<td th:text="${p.mem}"></td>-->
                        <!-- <!- h:text="${p.rss}"></td> -->
                        <!--<td th:text="${p.share}"></td>-->
                        <!--<td th:text="${p.startTime}"></td>-->
                        <!-- <td th:text="${p.cpuTime}"></td> -->
                        <!--<td>-->
                            <!--<button type="button" class="btn btn-accent btn-pill kill-proc-btn" >结束进程</button>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="process-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>确定要结束以下进程？</div>
                <div id="modal-body-pname"></div>
                <input type="hidden" id="modal-body-pid" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="kill-process-btn" type="button" data-dismiss="modal" class="btn btn-primary">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    <!-- 按钮触发模态框 -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        开始演示模态框
    </button>

    <!--<div class="promo-popup animated">-->
    <!--<div class="pp-intro-bar"> Need More Templates?-->
        <!--<span class="close">-->
          <!--<i class="material-icons">close</i>-->
        <!--</span>-->
        <!--<span class="up">-->
          <!--<i class="material-icons">keyboard_arrow_up</i>-->
        <!--</span>-->
    <!--</div>-->
    <!--<div class="pp-inner-content">-->
        <!--<h2>Shards Dashboard Pro</h2>-->
        <!--<p>A premium & modern Bootstrap 4 admin dashboard template pack.</p>-->
        <!--<a class="pp-cta extra-action" href="http://bit.ly/shards-dashboard-pro">Download</a>-->
    <!--</div>-->
<!--</div>-->

    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/scripts/app/process.1.1.0.js"></script>